.book-list {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 200px;
    margin: 10px;
    border: 1px solid #fcf3cf;
    padding: 10px;
    transition-duration: 0.2s;
}

.book:hover {
    transform: translate(2px, 2px);
    box-shadow: 5px 2px 2px #fcf3cf;
}

.book .img-container {
    width: 80%;
    height: 145px;
    margin: auto;
}

.book .img-container img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.book .info {
    margin: 10px 20px;
    font-size: small;
}

.book .buttons {
    margin-top: 10px;
}

.book-filters {
    list-style: none;
}

.book-filters li {
    display: inline-block;
    margin: 0 20px;
}